---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="sneakers hubois">

	<hero class="hero mx-auto">
		<div class="circle">
		</div>
		<div class="coleccion rounded-b-xl text-xs font-extralight lett text-white z-10 flex justify-end items-end p-6"><p>COLECCION</p></div >
		<p class="text-white text-9xl font-extrabold text-center mr-80">SNEA <br>
			<span class="mr-20">KER</span></p>
		<div class="zapatilla rounded-t-xl">
		</div>
		<img src="/zapatillas-hero.png" alt="zapatilla-hero" class="zapatilla-hero">
	</hero>
	<article class="flex justify-between mt-[500px] gap-6 max-w-[80rem] mx-auto">
		
		<div class="flex flex-col bg-[#131313] p-6 shadow-md rounded-sm">
			<div class="flex ">
				<h2 class="pago font-bold text-4xl uppercase self-center text-white mb-3">Pago contra reembolso</h2>
				<!-- <img class="w-12 ml-5" src=" /pago.png" alt="icono pago"> -->
			</div>
			<p class=" text-pretty text-white"> Realiza tu pedido y paga en efectivo al recibirlo en la puerta de tu casa. Esta opción te permite inspeccionar tus productos antes de abonar, 
				brindándote tranquilidad y confianza en cada compra.</p>
		</div>
		
		<div class="flex flex-col bg-[#131313] p-6 shadow-md rounded-sm">
			<div class="flex mb-7">
				<h2 class=" self-center uppercase font-bold text-4xl text-white mb-3">Alta Calidad</h2>
				<img class="w-12 ml-5" src="/quality.png" alt="icono calidad">
			</div>
			<p class=" text-pretty text-white"> Cada producto ha sido meticulosamente seleccionado y diseñado para ofrecerte la mejor experiencia. Descubre la claridad de la excelencia en cada compra con nosotros.</p>			
		</div>

		<div class="flex flex-col bg-[#131313] p-6 shadow-md rounded-sm">
			<div class="flex mb-7">
				<h2 class=" self-center uppercase font-bold text-4xl text-white mb-3">whatsapp</h2>
				<img class="w-12 ml-5" src="/whatsapp.png" alt="icono whatsapp">
			</div>
			<p class="text-white">Haz tus compras fácilmente! en sneakers hubio, solo tienes que contactarnos por WhatsApp y decirnos qué producto deseas. Nos encargaremos de todo.</p>
		</div>

	</article>
	<section class=" mt-20 max-w-[80rem] mx-auto">
		<div class="flex w-14 mb-16">
		<h3 class=" font-extrabold text-3xl uppercase self-center mr-10">Sneakers</h3>
		<img src="/arrow-left.png" alt="icono flecha">
		<img src="/arrow-right.png" alt="icono flecha">
		</div>
		<div class="flex gap-5">
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
		</div>
	</section>
	<section class=" mt-20 max-w-[80rem] mx-auto">
		<div class="flex w-14 mb-16">
		<h3 class=" font-extrabold text-3xl uppercase self-center mr-10">Sudaderas</h3>
		<img src="/arrow-left.png" alt="icono flecha">
		<img src="/arrow-right.png" alt="icono flecha">
		</div>
		<div class="flex gap-5">
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
			<Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
		</div>
	</section>
	<main class=" my-24 max-w-[80rem] mx-auto mb-44 ">
		<div class="card_comprar p-10 border-solid border-[1px] shadow-xl">
		<h2 class=" text-white font-bold mb-3 text-2xl">COMO COMPRAR ?</h2>
		<div class=" grid grid-cols-2">
			<p class=" text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias impedit, explicabo modi incidunt iure odio! Id ipsum molestiae iusto, 
			distinctio et doloribus ipsam, animi libero quis, modi maiores itaque nobis.</p>
		</div>
		</div>
		<img class="comprar_zapatilla" src="/zapatilla-como-comprar.png" alt="">
	</main>
	
</Layout>

<style>
	.coleccion{
	position: absolute;
	width: 300px;
	height: 100px;
	top: 0;
	left: 50%;
	background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(38,38,38,0.99) 46%, rgba(82,82,82,1) 100%);

	}
	/* article{
	position: absolute;
	width: 300px;
	height: 100px;
	top: 0;
	left: 50%;
	background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(38,38,38,0.99) 46%, rgba(82,82,82,1) 100%);

	} */

	.hero{
    height: 100vh; 
	}
	hero p {
		letter-spacing: 3px;
	}

	.circle {
	position: absolute;
    width: 1700px;
    height: 1400px; 
    background-color: #000; 
    border-radius:50%;
    top: -700px; 
    left: 50px;
	z-index: -10;
	}

	.zapatilla-hero{
	position: absolute;
	top: 0;
	left: 40%;
	width: 40rem;
	animation: img .7s ease-in both;
	}

	@keyframes img {
		from{
			transform: translateX(150px);
			opacity: 0;
		}
		to{opacity: 1;
			transform: translateX(0);
		}
	}

	.zapatilla{
	position: absolute;
	top: 13%;
	left: 50%;
	background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(38,38,38,0.99) 46%, rgba(82,82,82,1) 100%);
	height: 500px;
	width: 300px;
	z-index: -5;
	}

	.pago{
		position: relative;
	}
	.pago::after{
		content: "";
		display: block;
		background-image: url(../../public/pago.png);
		background-size: cover; 
  		background-repeat: no-repeat;
		width: 4rem;
		height: 4rem;
		position: absolute;
		top: 0;
		left: 60%;
	}
	
	main{
		position: relative;
	}
	.card_comprar{
		background-color: #a67d5c;
		width: 70rem;
		height: 20rem;
		border-radius: 10px;
	}

	.comprar_zapatilla{
		position: absolute;
		top: 0;
		left: 30%;
		width: 900px;
	}

</style>
