---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="sneakers hubois">
	<hero class="hero mx-auto">
		<h1 class=" text-red-600">SNEAKER</h1>
		<div class="circle">
			<div class="coleccion text-white">COLECCION</div>
		</div>
	</hero>
</Layout>

<style>
	.coleccion{
	color: red;
	width: 20vh;
	height: 20vh;
	top: 0;
	left: 0;
	}

	.hero{
    height: 100vh; 
    overflow: hidden
	}
	.circle {
    position: relative;
    width: 200vh;
    height: 180vh; 
    background-color: #000; 
    border-radius:50%;
    top: -100vh; 
    left: -30%;
	}
</style>
