---
import Layout from "../layouts/Layout.astro";
import Filtro from "../ts/Filtro";
import MyComponent from "../ts/Filtro"
import JobSearchApp from "../components/Filtro.astro"


---


<Layout title="sneakers huboi">
    <main class="max-w-[80rem] mx-auto">
       <MyComponent/>
       <Filtro/>
       
    </main>
</Layout>