---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout title="sneakers huboi">
    <main class="max-w-[80rem] mx-auto">
        <div>
            marca
        </div>
        <div class="flex gap-5">
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
        </div>
        <div class="flex gap-5">
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
        </div>
        <div class="flex gap-5">
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
            <Card href='/' img='/jordan.png' title='Air Jordan 1 Travis ' tipo='Zapatillas' tallas='Tallas 36/45' precio='120€'></Card>
        </div>
    </main>
</Layout>