<footer class=" max-w-full bg-[#111111]">
    <a class=" text-center text-white " href="/">
        SNEAKERS <br>
        <span class=" font-bold">HUBOI</span>
        </a>
</footer>

<style>
    footer {
        max-width: 200%;
        width: 100%;
    }
    a{
        letter-spacing: 3px;
    }
</style>