---
---

<header class="max-w-[80rem] mx-auto sticky top-0 z-10">
    <nav class="flex p-5 text-white ">
        <a class=" text-center" href="/">
        SNEAKERS <br>
        <span class=" font-bold">HUBOI</span>
        </a>
        <ul class="flex justify-end p-4 ml-10">
            <li><a class="m-4" href="/zapatilla">ZAPATILLAS</a></li>
            <li><a class="m-4" href="/ropa">ROPAS</a></li>
            <li><a href="">WHATSAPP</a></li>
        </ul>

    </nav>
    
</header>

<style>
    a{
        letter-spacing: 3px;
    }
</style>