---
---

<header class="flex">
    <a href="">
    <span class=" hidden">logo</span>
    <img class="py-2 w-48" src="/log.png" alt="">
    </a>
    <nav class="flex">
        <ul class="flex items-center">
            <li><a href="">Zapatillas</a></li>
            <li><a href="">Ropas</a></li>
            <li><a href="">Zapatillas</a></li>
        </ul>
    </nav>
</header>