---
---

<header class=" max-w-[100rem] mx-auto">
    <nav class="flex justify-between">
        <a href="">
        <span class=" hidden">logo</span>
        <img class="py-2 w-48" src="/log.png" alt="logo sneakers huboi">
        </a>
        <ul class="flex self-center">
            <li><a class="m-4" href="">Zapatillas</a></li>
            <li><a href="">Ropas</a></li>
        </ul>
    </nav>
</header>